 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project-28</title>
</head>
<body>
  <div class = "container-fluid">
  <h1>Contact Our</h1>
<h2>Customer Support Center</h2>
<img src="https://cdn.shopify.com/s/files/1/0658/7410/0453/products/MacBookA1286.jpg?v=1671109780&width=400" id = "img" alt="">
<h3>Contact Information</h3>
<h6>Please fill out your contact information below</h6>
<div class="namediv">
  <label for="text">Name : </label>
  <br><input type="name" id = "fname" 
  placeholder="First name">

  <input type="name" id = "lname"
  required placeholder="Last name">
  <br><small>first name</small>
  <small>last name</small>
</div>
<label for="email">Email : </label><br>
<input type="text" id = "email"
required placeholder="Email">

<br><br>
<label for="ph">Phone : </label><br>
<input type="text" id = "Phone"
required placeholder="Phone">

<br><br>
<label for="ph">Address :  </label><br>
<input type="text" id = "add"
required placeholder="Address">
<br>
<button type="button" class="btn btn-primary">
SUBMIT
</button>
</div>
</body>
</html>